<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_lyrics_notification"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_lyrics_notification"
        android:supportsRtl="true"
        android:theme="@style/Theme.LyricaLive">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LyricaLive">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FullLyricsActivity"
            android:exported="false"
            android:theme="@style/Theme.LyricaLive" />

        <service
            android:name=".core.mediasession.LyricaMediaSessionListenerService"
            android:exported="true"
            android:label="@string/notification_service_label"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
